.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.list {
    display: flex;
    flex: 1 1 auto;
    overflow-y: scroll;
    flex-direction: column;
}
